html, body {
    font-family:"Roboto";
    font-size: 14px;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body.homepage{
  background-image: url("image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;;
}
.main{
  width:500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.logo{
  font-size: 70px;
  color: white;
  margin-bottom: 10px;
  margin-top: 0;
}
.tagline{
  font-size: 25px;
  color: black;
}
.button{
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor:pointer;
}
.button:hover{
  background: lightgreen;
  color: white;
}
/*
Chat page seperations
*/
.member-area{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  background-color: black;
  color: white;
}
.user-info{
  background: blue;
  padding: 15px;

}
.logout{
  float: right;
}
.member {
  padding: 10px;
  border-bottom: solid 2px lightblue;
}
.member:hover{
  background: lightblue;
  color: purple;
}
.message-area{
  background: lightblue;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 70%;
}
.chat-info{
  background: black;
  padding: 10px;
  color: lightblue;

}
.member.active{
  font-weight: bold;
  background: lightblue;
  color: black;
}
.messages{
  background: lightgreen;
  height: 100%;
  padding: 10px;
  overflow: auto;
  height: 90%;

}
.message{
  background: blue;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 12px;
}
.message.by-user{
  background: darkblue;
}
.chat-form{
  position: fixed;
  left: 30%;
  bottom: 0;
  width: 70%;
  background: white;
  padding: 15px;
}
.chat-message{
  padding 15px;
  /*border: solid 16px lightgray;*/
  height: 25px;
  border-radius: 4px;
  display: block;
  width:100%;
}
